In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime

print("Setup Complete")

warnings.filterwarnings("ignore")

Setup Complete

In [4]:
df = pd.read_csv('ncr_ride_bookings.csv')

In [5]:
df.head(5)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [6]:
df.shape

(150000, 21)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [8]:
df.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [9]:
df['Avg VTAT'] = df['Avg VTAT'].fillna(df['Avg CTAT'].mean())
df['Avg CTAT'] = df['Avg CTAT'].fillna(df['Avg CTAT'].mean())
df['Cancelled Rides by Customer'] = df['Cancelled Rides by Customer'].fillna(0)
df['Reason for cancelling by Customer'] = df['Reason for cancelling by Customer'].fillna("none")
df['Cancelled Rides by Driver'] = df['Cancelled Rides by Driver'].fillna(0)
df['Driver Cancellation Reason'] = df['Driver Cancellation Reason'].fillna("none")
df['Incomplete Rides'] = df['Incomplete Rides'].fillna(0)
df['Incomplete Rides Reason'] = df['Incomplete Rides Reason'].fillna("none")
df['Booking Value'] = df['Booking Value'].fillna(df['Booking Value'].mean())
df['Ride Distance'] = df['Ride Distance'].fillna(df['Ride Distance'].mean())
df['Driver Ratings'] = df['Driver Ratings'].fillna(df['Driver Ratings'].mean())
df['Customer Rating'] = df['Customer Rating'].fillna(df['Customer Rating'].mean())
df['Payment Method'].fillna(df['Payment Method'].mode().iloc[0], inplace=True)

In [12]:
df.isnull().sum()

Date                                 0
Time                                 0
Booking ID                           0
Booking Status                       0
Customer ID                          0
Vehicle Type                         0
Pickup Location                      0
Drop Location                        0
Avg VTAT                             0
Avg CTAT                             0
Cancelled Rides by Customer          0
Reason for cancelling by Customer    0
Cancelled Rides by Driver            0
Driver Cancellation Reason           0
Incomplete Rides                     0
Incomplete Rides Reason              0
Booking Value                        0
Ride Distance                        0
Driver Ratings                       0
Customer Rating                      0
Payment Method                       0
dtype: int64

In [13]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Time'] = pd.to_datetime(df['Time'], format="%H:%M:%S").dt.time
df['Booking ID'] = df['Booking ID'].astype('string')
df['Booking Status'] = df['Booking Status'].astype('string')
df['Customer ID'] = df['Customer ID'].astype('string')
df['Vehicle Type'] = df['Vehicle Type'].astype('string')
df['Pickup Location'] = df['Pickup Location'].astype('string')
df['Drop Location'] = df['Drop Location'].astype('string')
df['Cancelled Rides by Customer'] = df['Cancelled Rides by Customer'].astype('int')
df['Reason for cancelling by Customer'] = df['Reason for cancelling by Customer'].astype('string')
df['Cancelled Rides by Driver'] = df['Cancelled Rides by Driver'].astype('int')
df['Driver Cancellation Reason'] = df['Driver Cancellation Reason'].astype('string')
df['Incomplete Rides'] = df['Incomplete Rides'].astype('int')
df['Incomplete Rides Reason'] = df['Incomplete Rides Reason'].astype('string')
df['Payment Method'] = df['Payment Method'].astype('string')

print("Conversion complete")

Conversion complete

In [14]:
df.to_csv("uber_cleaned.csv", index=False)

In [16]:
import os
print(os.getcwd())
df.to_csv("C:/Users/chenn/Desktop/uber_cleaned.csv", index=False)

C:\Users\chenn

In [11]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,29.149636,29.149636,...,none,0,none,0,none,508.295912,24.637012,4.230992,4.404584,UPI
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.900000,14.000000,...,none,0,none,1,Vehicle Breakdown,237.000000,5.730000,4.230992,4.404584,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.400000,25.800000,...,none,0,none,0,none,627.000000,13.580000,4.900000,4.900000,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.100000,28.500000,...,none,0,none,0,none,416.000000,34.020000,4.600000,5.000000,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.300000,19.600000,...,none,0,none,0,none,737.000000,48.210000,4.100000,4.300000,UPI

In [13]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,29.149636,29.149636,...,none,0,none,0,none,508.295912,24.637012,4.230992,4.404584,UPI
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.900000,14.000000,...,none,0,none,1,Vehicle Breakdown,237.000000,5.730000,4.230992,4.404584,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.400000,25.800000,...,none,0,none,0,none,627.000000,13.580000,4.900000,4.900000,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.100000,28.500000,...,none,0,none,0,none,416.000000,34.020000,4.600000,5.000000,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.300000,19.600000,...,none,0,none,0,none,737.000000,48.210000,4.100000,4.300000,UPI

In [14]:
df['Booking Status'].unique()

<StringArray>
[      'No Driver Found',            'Incomplete',             'Completed',
   'Cancelled by Driver', 'Cancelled by Customer']
Length: 5, dtype: string

In [15]:
total_rides= len(df)

In [16]:
print(f'Total no of booked raids are:{total_rides}')

Total no of booked raids are:150000

In [19]:
completed_rides = (df['Booking Status'] == 'Completed').sum()

In [21]:
print(f'Completed raids are:{completed_rides}')

Completed raids are:93000

In [22]:
Average_success_rate = (completed_rides/total_rides)*100

In [23]:
print(f'Average Sucess Rate : {Average_success_rate}')

Average Sucess Rate : 62.0

In [24]:
average_wait_time = np.mean(df['Avg VTAT'])

In [25]:
print(f'Average Wait Time : {average_wait_time: .2f}')

Average Wait Time :  9.90

In [33]:
#Average Trip Duration
cmp_rides = df[df['Booking Status'] == 'Completed']
total_trip_duration = cmp_rides['Avg CTAT'].sum()
avg_trip_duration = total_trip_duration / cmp_rides.shape[0]
print(f"Average Trip Duration: {avg_trip_duration: .2f} minutes")

Average Trip Duration:  30.03 minutes

In [35]:
cmp_rides = df[df['Booking Status'] == 'Completed']
total_ride_distance = cmp_rides['Ride Distance'].sum() 
avg_ride_distance = total_ride_distance / cmp_rides.shape[0]
print(f"Average Ride Distance: {avg_ride_distance: .2f} minutes")

Average Ride Distance:  26.00 minutes

In [36]:
rides_cancelled = (
    df['Cancelled Rides by Customer'].sum() + 
    df['Cancelled Rides by Driver'].sum()
)  
print(f"Number of Rides Cancelled: {rides_cancelled}")
cancellation_rate = (rides_cancelled/total_rides) * 100
print(f"Cancellation Rate: {cancellation_rate : .2f}%")

Number of Rides Cancelled: 37500
Cancellation Rate:  25.00%

In [37]:
print(f"Cancellation Rate by Customer: {(df['Cancelled Rides by Customer'].sum()/total_rides)*100 : .2f}%")
print(f"Cancellation Rate by Driver: {(df['Cancelled Rides by Driver'].sum()/total_rides)*100 : .2f}%")

Cancellation Rate by Customer:  7.00%
Cancellation Rate by Driver:  18.00%

In [38]:
df['Month'] = df['Date'].dt.to_period('M')
mau = df.groupby('Month')['Customer ID'].nunique()

print(f"Monthly Active Users - 2024 {mau}")

Monthly Active Users - 2024 Month
2024-01    12858
2024-02    11915
2024-03    12708
2024-04    12192
2024-05    12764
2024-06    12433
2024-07    12889
2024-08    12628
2024-09    12239
2024-10    12643
2024-11    12389
2024-12    12241
Freq: M, Name: Customer ID, dtype: int64

In [39]:
month_rides = df.groupby(['Month'])['Booking ID'].count().reset_index(name='Ride Count') 
month_usage_frequency = month_rides.groupby('Month')['Ride Count'].mean()

print(f"Usage Frequency per Month {month_usage_frequency}")

Usage Frequency per Month Month
2024-01    12861.0
2024-02    11927.0
2024-03    12719.0
2024-04    12199.0
2024-05    12778.0
2024-06    12440.0
2024-07    12897.0
2024-08    12636.0
2024-09    12248.0
2024-10    12651.0
2024-11    12394.0
2024-12    12250.0
Freq: M, Name: Ride Count, dtype: float64

In [40]:
revenue_ride = df['Booking Value'].sum() / total_rides
print(f"Total Revenue: ${df['Booking Value'].sum():.2f}")
print(f"Total Revenue per Ride: ${revenue_ride:.2f}")

Total Revenue: $76244386.76
Total Revenue per Ride: $508.30

In [41]:
arpu = df['Booking Value'].sum() / df['Customer ID'].nunique()
print(f"ARPU (Average Revenue Per User): ${arpu:.2f}")

ARPU (Average Revenue Per User): $512.44

In [42]:
avg_ratings_driver = np.mean(df['Driver Ratings'])

print(f"Driver Average Rating: {avg_ratings_driver:.2f} / 5 stars")

Driver Average Rating: 4.23 / 5 stars

In [43]:
avg_ratings_customer = np.mean(df['Customer Rating'])

print(f"Customer Average Rating: {avg_ratings_customer:.2f} / 5 stars")

Customer Average Rating: 4.40 / 5 stars